{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'astros_app/favicon.ico' %}" type="image/x-icon">
    <meta property="og:image" content="{% static 'astros_app/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap");
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'astros_app/style.css' %}" />
    <title>Are The Astros Winning?</title>
  </head>
  <body>
    <div class="container">
      <h1 class="main">Are The Astros Winning?</h1>
      {% if data.winning == "YES!" %}
        <h1 class="y">{{ data.winning }}</h1>
      {% elif data.winning == "No..." %}
        <h1 class="n">{{ data.winning }}</h1>
      {% elif data.winning == "Not playing now." %}
        <h1 class="yn">{{ data.winning }}</h1>
      {% elif data.winning == "Tied" %}
        <h1 class="t">{{ data.winning }}</h1>
      {% endif %}

      <button class="current-score collapsible" type="button">
        {% if data.winning == 'Not playing now.' %}
            Last Game's Score: Astros: {{ data.astros_score }} &nbsp;&nbsp; {{ data.opp_name }}: {{ data.opp_score }} <br>
        {% else %}
            Astros: {{ data.astros_score }} {{ data.opp_name }}: {{ data.opp_score }}
        {% endif %}
      </button>
      <div class="content">
        {% for play in data.scoring_plays %}
          <p>{{play}}</p>
        {% endfor %}
      </div>
      
        
      
      
      {% if data.astros_score > data.opp_score %}
        <img src="https://pbs.twimg.com/media/E5QC4MoWUAQYR3D.jpg">
      {% endif %}
      
    </div>
    <div>
      <ul style="list-style-type:none; margin: auto; text-align:center;">
        {% for key, value in data.highlights_data.items %}
        <li style="font-size: 300%; color: white;">{{ value.0 }} </li>
        <li><video width='640px' height = '360px' src="{{value.1}}" type="video/mp4" controls></li>
        {% endfor %}
      </ul>
    </div>
    <script>
      var coll = document.querySelector(".collapsible");

      coll.addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    </script>
  </body>
</html>
